@import "media-queries";

footer {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  background: #0e0e0e;
  .container {
    height: 32px;
    flex-basis: var(---content-width);
    display: flex;
    align-items: center;
    //padding-bottom: 10px;
    color: #535353 !important;
    @include small {
      font-size: 0.8em;
    }
    a {
      font-size: 0.8em;
      font-weight: 200;
    }

    .company {
      flex-grow: 1;
    }
    .legal-container {
      display: flex;
      align-items: center;
      font-weight: 100;
    }
  }
}