.img-action-sword {
  background-image: url("/images/action_icon_sword.png");
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img {
  background-size: contain;
  background-repeat: no-repeat;
}
.game-icon {
  width: 32px;
  height: 32px;
}
.img-crystal {
  background-image: url("/images/game-icon-crystal.png");
}
.img-action-indicator {
  background-image: url("/images/game-icon-action-indicator.png");
}

.img-ghost {
  background-image: url("/images/game-icon-ghost.png");
}

.img-bag {
  background-image: url("/images/game-icon-bag.png");
}